{% extends "base.html" %}

{% block title %}Talk 2 TPC {% endblock title %}

{% block content %}
{% include "nav.html" %}
{% include "flash.html" %}

<script type="text/javascript">
window.onload = function() {

    var result= {{result.parsed|tojson|safe}}
    for(var i = 0; i < result.length; i++)
{
    document.getElementById("parsed").innerHTML  += result[i] + "<br />";
}

	};
</script>
<!-- Page Content -->
<section id="catalog" class="section">

    <div class="container">

        <div class="row">


            <div>
                <div class="panel panel-default">
                <div class="panel-heading">Teltonika Data</div>
                 <div class="panel-body">Below is the passed data


                        <div>

                            The data parsed is as below
                            <span id="parsed"></span>
                        </div>

                 </div>
                </div>
            </div>

        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /.section -->
{% endblock %}
