{% extends "base.html" %}

{% block title %}Talk 2 TPC{% endblock title %}

{% block content %}
{% include "nav.html" %}
{% include "flash.html" %}

<script type="text/javascript">

window.onload = function() {

	};



</script>

<!-- Page Content -->
<section id="catalog" class="section">

    <div class="container">

        <div class="row">


            <div>
                <div class="panel panel-default">
                <div class="panel-heading">Teltonika</div>
                 <div class="panel-body">Test
                    Teltonika

                     <form action="" method="post">
            {{ form.csrf_token  }}

            <div class="input text">
                {{ form.data.label }} {{ form.data }}
            </div>

            <div class="input submit">
                <input type="submit" value="Parse Data" />
            </div>
        </form>

                 </div>

                </div>
            </div>

        </div>
        <!-- /.row -->
        <div id="notes" class="well">
        <div>Notes:</div>
        <hr>
            <div id="memo"> </div>
            <div id="warehousecharges"></div>

        </div>

    </div>
    <!-- /.container -->
</section>
<!-- /.section -->
{% endblock %}
